.profilePageWrapper {
  background-color: rgb(248, 250, 250);
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 10vh 90vh;
  gap:2vw;
}

.posts{
  grid-row: 2/3;
  grid-column: 2/3;
}
.profileWrapper {
  height: 70%;
  width: 100%;
  /* position: relative; */
  grid-row: 2/3;
  grid-column: 1/2;
}

.profileWrapper,
.postsWrapper {
  margin: 20px 20px 0px;
  padding: 20px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.postsWrapper {
  align-items: center;
}
.firstName {
  margin-top: 20px;

  text-align: center;
  color: #2b283a;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.text {
  color: #2b283a;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 4px;
}
.date {
  text-align: center;
  font-size: 12px;
  color: #828282;
}

.postTextWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.showMore {
  margin-top: 20px;
}
